.picture {
	height: auto;
	width: 70px;
	border-radius: 500px;
}

#userBox {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 1.5vh;
	padding: 1.5vh;
	align-items: center;
	display: flex;
	flex-direction: row;
	border: solid #5635b2c9;
	border-left: 0;
	background-color: #121212;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 2;
}

.details {
	display: flex;
	flex-direction: column;
	margin-left: 1vw;
	align-items: center;
}

h3.name,
h3.email {
	margin: 0;
	font-size: 15px;
}
