.picture {
	height: auto;
	width: 20vh;
	border-radius: 100px;
}

#userContainer {
	margin: 3vw;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.details {
	display: flex;
	flex-direction: column;
	margin-right: 3vw;
	align-items: center;
}

h3 {
	margin: 0;
}
