.container {
	margin-top: 3vh;
	height: 100vh;
	min-width: 70vw;
	margin: 0;
	position: relative;
}

.albumBtn {
	z-index: 1;
}

.albumContainer {
	margin: auto;
	/* width is height and other way around */
	width: auto;
	height: 70vw;
	/*
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	white-space: nowrap;
	transform: rotate(-90deg); */
}

.album {
	/* transform: rotate(90deg); */
	margin-bottom: 5vh;
}

.albumCard {
	margin: auto;
}

.cardBtns {
	justify-content: center;
}

h2 {
	width: fit-content;
	margin: auto;
	margin-top: 3vh;
}
