h3 {
	width: fit-content;
	margin: auto;
	margin-top: 3vh;
}

.container {
	margin-top: 3vh;
	min-width: 70vw;
	margin: 0;
	flex-direction: column;
	align-items: center;
}

.albumBtn {
	z-index: 1;
}

.album {
	margin-bottom: 5vh;
}

.cardBtns {
	justify-content: center;
}

.albumContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.albumBox {
	min-width: 100%;
	padding-top: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: #5031a52f;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
