h3 {
	width: fit-content;
	margin: auto;
	margin-top: 3vh;
}

.container {
	margin-top: 3vh;
	width: 70vw;
	margin: 0;
	flex-direction: column;
	align-items: center;
}

.albumBtn {
	z-index: 1;
}

.album {
	padding: 0;
	margin-bottom: 5vh;
	position: relative;
	box-shadow: 0 29px 52px rgba(0, 0, 0, 0.5), 0 25px 16px rgba(0, 0, 0, 0.3);
}

.cardBtns {
	justify-content: center;
}

.albumBox {
	padding: 2vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background: #5031a52f;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
